@import url('https://fonts.googleapis.com/css?family=Modak');

body {
    font-family: 'Modak';
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}