@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #f1f1f1;
}
.container {
    font-family: 'Roboto';
}
.navbar-vertical {
    /* background: #343a40; */
    background-color: #000000;
    position: fixed;
    top: 230px;
    left: 75px;
    width: 250px;
}
.badge {
    position: fixed;
    display: flex;
    align-items: center;
    height: 70px;
    top: 145px;
    left: 75px;
    width: 250px;
    /* background: #B3E4A7; */
    background: #FFFFFF;
    color: #343a40;
    font-size: 18px;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 350px;
}
.top {
    margin-top: 100px;
}
.bottom {
    margin-bottom: 50px;
    max-width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.source {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: '#A9A9A9'; */
    color: grey;
    font-size: 15px;
}