@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto';
}
.container {
    background-color: #f1f1f1;
    height: 100%;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.top {
    /* margin-top: 100px; */
}
.bottom {
    margin-bottom: 50px;
    max-width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.source {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: '#A9A9A9'; */
    color: grey;
    font-size: 15px;
}