@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto';
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.row {
    display: flex;
    flex-direction: row;
}